<input type="text" placeholder="Enter your name"
       (input)="updateName($event)" />

<input type="number" placeholder="Enter the value"
       (input)="updateMark($event)" />

<h4>Name is updated to: {{ name() }} and secured {{ mark() }} </h4>


<div>
  <h3>Available Products:</h3>
  <ul>
    <li *ngFor="let product of products(); let i = index"
        (click)="selectProduct(i)">
      {{ product.name }} - ${{ product.price }}
    </li>
  </ul>
  <p>Selected Product: {{ selectedProduct()?.name || 'None' }}</p>
</div>
