<p>one works!</p>
<nav>
  <!-- <li>
    <ul routerLinkActive="nav-item-active" [routerLinkActiveOptions]="{ exact: true }">
      <li><a routerLink="/one/home">Home</a></li>
     <li><a routerLink="/one/about">About</a></li> -->
    <!-- </ul> -->

    <!-- <a routerLink='/one/about' routerLinkActive="inactive" ariaCurrentWhenActive="page" >About</a> -->
  <!-- </li> -->
<!-- </nav> -->

<ul
  routerLinkActive="nav-item-active"[routerLinkActiveOptions]="{ exact: true }"
>
  <li><a routerLink="/one/home">Home</a></li>
  <li><a routerLink="/one/about">About</a></li>
</ul>
<router-outlet>

